html, body{
    padding: 0;
    margin: 0;
    background: #3498db;
    color: #FFF;
    font-family:"Open Sans";
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.container {
    margin: 20px auto 60px auto;
    text-align:center;
}
header img {
    display: block;
    width: 95%;
    max-width: 620px;
    margin: 25px auto;
}
p {
    display: block;
    margin: 0;
    font-size: 1.8em;
    font-weight: 100;
}
.github-download {
    display: inline-block;
    background: url('../images/icons/GitHub-Mark-Light-32px.png') no-repeat;
    background-position: 10px 10px;
    padding: 15px 15px 15px 57px;
    margin: 25px auto;
    border-radius: 8px;
    color: #FFF;
    text-decoration: none;
}
